################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CashFlow/.vs/CashFlow/DesignTimeBuild/.dtbcache.v2
/CashFlow/.vs/CashFlow/v17/.suo
